* {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container {
    
    
    margin: 0px 15%;
    flex-grow:1;
}

.one {
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    /*position: fixed;*/
    
    display: flex;
    align-items: center;
    outline: 2px solid yellow;
}

ul {
    display: flex;
    list-style: none;
    justify-content: right;
    gap:10px;
    outline: 2px solid yellow;
    height: 100%;
    width: 100%;

}

img {
    width: 100px;
    height: 100px;
}

.two {
    color: #1F2937;
    align-items:center;
    justify-content: center;
}

.three {
    background-color: #E5E7EB;
    color: #1F2937;
    align-items: center;
    justify-content: center;
}

.four {
    color: #1F2937;
}

.five {
    background-color: #1F2937;
    color: #F9FAF8;
}

button {
    color:blue;
}