* {
    font-family: 'Roboto';
}

body {
    
    
    padding: 0;
    margin: 0;
}

.container {
    padding: 0px 15%;
    flex:1;
}

.one {
    background-color: #1F2937;
    color: #F9FAF8;
    
    /*position: fixed;*/
    
    display: flex;
    
}
 h1 {
    display: flex;
    flex: 1;
 }

.contentFlex {
    display: flex;
 }

.links {
    
    flex: 1 1 auto;
    align-content: center;
}


ul {
    display: flex;
    list-style: none;
    justify-content: right;
    align-content: center;
    gap:10px;
    
    
    
}

li {
    display: flex;
}

img {
    width: 100px;
    height: 100px;
}

.two {
    color: #1F2937;
    align-items:center;
    justify-content: center;
    display: flex;
}

.three {
    flex-direction: row;
    background-color: #E5E7EB;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    display:flex;
}

.four {
    color: #1F2937;
}

.five {
    background-color: #1F2937;
    color: #F9FAF8;
}

button {
    color:white;
    background-color: #3882F6;
    border: none;
}